html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.brand h1,
.brand img,
svg {
  cursor: pointer;
}

.brand h1 {
  font-family: "Perpetua Titling MT";
  font-weight: 300;
}

.navlinks a {
  font-family: "Rubik";
  font-size: 2rem;
  margin: 0 1em;
  color: gray;
}

a:hover {
  cursor: pointer;
}

.navlinks a:hover {
  color: black;
}
